<navbar></navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="background-shadow">
        <form [formGroup]="registerForm" (ngSubmit)="openModal()" novalidate>
          <h2 class="h2-centered">Regístrate como cliente</h2>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="nombres" class="form-label">Nombres:</label>
              <input type="text" formControlName="nombres" class="form-control" id="nombres" placeholder="Nombres">
              <div *ngIf="registerForm.get('nombres')?.invalid && registerForm.get('nombres')?.touched" class="text-danger">
                Los nombres son requeridos.
              </div>
            </div>

            <div class="col-md-6">
              <label for="apellidos" class="form-label">Apellidos:</label>
              <input type="text" formControlName="apellidos" class="form-control" id="apellidos" placeholder="Apellidos">
              <div *ngIf="registerForm.get('apellidos')?.invalid && registerForm.get('apellidos')?.touched" class="text-danger">
                Los apellidos son requeridos.
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="ci" class="form-label">C.I.:</label>
              <input type="number" formControlName="ci" class="form-control" id="ci" placeholder="C.I.">
              <div *ngIf="registerForm.get('ci')?.invalid && registerForm.get('ci')?.touched" class="text-danger">
                El C.I. es requerido.
              </div>
            </div>

            <div class="col-md-6">
              <label for="departamento" class="form-label">Departamento:</label>
              <select formControlName="departamento" class="form-select" id="departamento">
                <option value="" selected>Selecciona un departamento</option>
                <option *ngFor="let depto of departamentos" [value]="depto.value">{{ depto.label }}</option>
              </select>
              <div *ngIf="registerForm.get('departamento')?.invalid && registerForm.get('departamento')?.touched" class="text-danger">
                El departamento es requerido.
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="email" class="form-label">Correo Electrónico:</label>
              <input type="email" formControlName="email" class="form-control" id="email" placeholder="e-mail">
              <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                Por favor, ingresa un correo electrónico válido.
              </div>
            </div>

            <div class="col-md-6">
              <label for="celular" class="form-label">Celular:</label>
              <input type="text" formControlName="celular" class="form-control" id="celular" placeholder="Celular">
              <div *ngIf="registerForm.get('celular')?.invalid && registerForm.get('celular')?.touched" class="text-danger">
                Ingresa un número de celular válido.
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="direccion" class="form-label">Dirección:</label>
              <input type="text" formControlName="direccion" class="form-control" id="direccion" placeholder="Dirección">
              <div *ngIf="registerForm.get('direccion')?.invalid && registerForm.get('direccion')?.touched" class="text-danger">
                La dirección es requerida.
              </div>
            </div>

            <div class="col-md-6">
              <label for="username" class="form-label">Username:</label>
              <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username">
              <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
                Elige un nombre de usuario.
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" formControlName="password" class="form-control" id="password" placeholder="Contraseña">
              <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
                La contraseña debe tener al menos 6 caracteres.
              </div>
            </div>

            <div class="col-md-6">
              <label for="confirmPassword" class="form-label">Confirma la contraseña:</label>
              <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirma la contraseña">
              <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched" class="text-danger">
                Las contraseñas no coinciden.
              </div>
            </div>
          </div>

          <div class="row mb-3 justify-content-center">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary w-100" (click)="openModal()">Crear una cuenta</button>
            </div>
            <div class="col-md-3">
              <button class="btn btn-secondary w-100" type="button">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirma tu información</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Nombres:</strong> {{ registerForm.get('nombres')?.value }}</p>
        <p><strong>Apellidos:</strong> {{ registerForm.get('apellidos')?.value }}</p>
        <p><strong>Correo Electrónico:</strong> {{ registerForm.get('email')?.value }}</p>
        <p><strong>Celular:</strong> {{ registerForm.get('celular')?.value }}</p>
        <p><strong>Dirección:</strong> {{ registerForm.get('direccion')?.value }}</p>
        <p><strong>Username:</strong> {{ registerForm.get('username')?.value }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Editar</button>
        <button type="button" class="btn btn-primary" (click)="confirmSubmission()">Confirmar</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statusModalLabel">Estado del registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="loading$ | async">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
          </div>
          <p>Registrando usuario...</p>
        </div>
        <div *ngIf="(success$ | async) === true">
          <p class="text-success">Registro completado con éxito.</p>
        </div>
        <div *ngIf="(success$ | async) === false">
          <p class="text-danger">Error en el registro. Por favor, inténtalo de nuevo.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

