<navbar></navbar>
<div class="container mt-4">
  <h2>Lista de Multas</h2>
  <button class="btn btn-primary mb-3" (click)="addFine()">Agregar Multa</button>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Monto</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fine of typeFines">
      <td>{{ fine.id }}</td>
      <td>{{ fine.description }}</td>
      <td>Bs. {{ fine.amount}}</td>
      <td>
        <button class="btn btn-warning btn-sm" (click)="editFine()">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="deleteFine()">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
