<navbar></navbar>
<div class="reservation-form">
    <h2>Reserva de ambiente</h2>
  
    <div>
      <label for="clientId">Usuario:</label>
      <select id="clientId">
        <option value="1">Usuario 1</option>
        <option value="2">Usuario 2</option>
        <!-- Puedes agregar más opciones según sea necesario -->
      </select>
    </div>
  
    <div>
      <label for="environmentId">Ambiente:</label>
      <select id="environmentId">
        <option value="1">Ambiente 1</option>
        <option value="2">Ambiente 2</option>
        <!-- Puedes agregar más opciones -->
      </select>
    </div>
  
    <div>
      <label for="reservationDate">Fecha de Reserva:</label>
      <input type="date" id="reservationDate" value="2024-09-19">
    </div>
  
    <div>
      <label for="clockIn">Hora de Entrada:</label>
      <input type="time" id="clockIn" value="09:00">
    </div>
  
    <div>
      <label for="clockOut">Hora de Salida:</label>
      <input type="time" id="clockOut" value="17:00">
    </div>
  
    <div>
      <label for="purpose">Propósito:</label>
      <textarea id="purpose" placeholder="Describa el propósito aquí"></textarea>
    </div>
  
    <button type="submit">Reservar</button>
  </div>
  