<navbar></navbar>
<div class="container mt-4">
  <h3>Calendario de Reservas</h3>
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Detalles del Evento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Detalles para Préstamo de Libro -->
        <div *ngIf="selectedEvent?.type === 'Prestamo de Libro'; else ambienteTemplate">
          <p><strong>Tipo:</strong> {{ selectedEvent?.type }}</p>
          <p><strong>Título:</strong> {{ selectedEvent?.title }}</p>
          <p><strong>Género:</strong> {{ selectedEvent?.genre }}</p>
          <p><strong>Fecha:</strong> {{ selectedEvent?.start }}</p>
        </div>

        <!-- Detalles para Reserva de Ambiente -->
        <ng-template #ambienteTemplate>
          <p><strong>Tipo:</strong> {{ selectedEvent?.type }}</p>
          <p><strong>Nombre:</strong> {{ selectedEvent?.title }}</p>
          <p><strong>Fecha de Reserva:</strong> {{ selectedEvent?.reservationDate }}</p>
          <p><strong>Hora Inicio:</strong> {{ selectedEvent?.start }}</p>
          <p><strong>Hora Fin:</strong> {{ selectedEvent?.end }}</p>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
