<navbar></navbar>
<div class="view-books-container">
  <h2>BUSQUEDA DE LIBRO</h2>

  <div class="search-bar">
    <div class="search-fields">
      <div class="row">
        <!-- Columna 1: búsqueda por título y autor -->
        <div class="col">
          <!-- Buscar libro por título -->
          <div class="input-container">
            <label for="search-title">Buscar libro por título:</label>
            <input id="search-title" type="text" placeholder="Buscar libro" (input)="updateSearchQuery($event)">
          </div>

          <!-- Buscar libro por autor -->
          <div class="input-container">
            <label for="search-author">Buscar libro por autor:</label>
            <input id="search-author" type="text" placeholder="Búsqueda por autor" (input)="updateAuthorSearchQuery($event)">
          </div>
        </div>

        <!-- Columna 2: Filtros -->
        <div class="col">
          <!-- Género -->
          <div class="dropdown-container">
            <label for="genre">Género:</label>
            <select id="genre" (change)="filterByGenreId($event)">
              <option value="">Todos los géneros</option>
              <ng-container *ngFor="let genre of genres">
                <option value="{{ genre.genreId }}">{{ genre.genreName }}</option>
              </ng-container>
            </select>
          </div>

          <!-- Estado -->
          <div class="dropdown-container">
            <label for="status">Estado:</label>
            <select id="status" (change)="filterBooks($event)">
              <option value="">Todos los estados</option>
              <ng-container *ngFor="let bookStatus of bookStatuses">
                <option value="{{ bookStatus.value }}">{{ bookStatus.label }}</option>
              </ng-container>
            </select>
          </div>
        </div>

        <!-- Columna 3: más filtros -->
        <div class="col">
          <!-- Idioma -->
          <div class="dropdown-container">
            <label for="language">Idioma:</label>
            <select id="language" (change)="filterByLanguage($event)">
              <option value="">Todos los idiomas</option>
              <ng-container *ngFor="let language of languages">
                <option value="{{ language.id }}">{{ language.language }}</option>
              </ng-container>
            </select>
          </div>

          <!-- Editorial -->
          <div class="dropdown-container">
            <label for="editorial">Editorial:</label>
            <select id="editorial" (change)="filterByEditorial($event)">
              <option value="">Todas las editoriales</option>
              <ng-container *ngFor="let editorial of editorials">
                <option value="{{ editorial.id }}">{{ editorial.editorial }}</option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>

      <!-- Filtros adicionales: fechas y sorting -->
      <div class="row">
        <!-- Date range search -->
        <div class="col">
          <div class="date-range">
            <label for="startDate">Fecha de Inicio:</label>
            <input type="date" id="startDate" [max]="endDate" [(ngModel)]="startDate" name="startDate">

            <label for="endDate">Fecha de Fin:</label>
            <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" [min]="startDate">

            <button class="date-search-btn" (click)="searchBooksByDateRange()">Buscar por Fechas</button>
          </div>
        </div>

        <!-- Sorting button -->
        <div class="col">
          <button (click)="toggleSort()">
            Ordenar por título: {{ filters().titleSort === 'asc' ? 'Descendente' : 'Ascendente' }}
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Filtered books -->
  <div *ngFor="let libro of librosFiltrados" class="book-item">
    <div class="book-info">
      <img class="book-image" [src]="libro.image_url || 'https://via.placeholder.com/100x120'" alt="Imagen del libro">
      <div class="book-details">
        <h3 class="book-title"><a href="#">{{ libro.title }}</a></h3>
        <p class="book-description">{{ libro.registrationDate | date }}</p>
        <a href="#" class="book-link">Más información</a>
      </div>
    </div>

    <div class="book-status">
      <label class="switch">
        <input type="checkbox" [checked]="libro.status" (change)="toggleAvailability(libro)">
        <span class="slider"></span>
      </label>
      <span class="availability" [ngClass]="{'available': libro.status, 'unavailable': !libro.status}">
        {{ libro.status ? 'DISPONIBLE' : 'OCUPADO' }}
      </span>
    </div>
  </div>

  <div *ngIf="librosFiltrados.length === 0" class="no-books-message">
    <p>{{mensaje}}</p>
  </div>


  <!-- Pagination -->
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <!-- Previous button -->
          <li class="page-item" [class.disabled]="pageNumber === 0" (click)="pageNumber >= 1 && onPageChange(pageNumber )">
            <a class="page-link">Anterior</a>
          </li>

          <!-- Page numbers -->
          <ng-container *ngFor="let page of pagesArray">
            <li class="page-item"  (click)="onPageChange(page)">
              <a class="page-link">{{ page }}</a>
            </li>
          </ng-container>

          <!-- Next button -->
          <li class="page-item" [class.disabled]="pageNumber === pages" (click)="pageNumber < pages && onPageChange(pageNumber + 2)">
            <a class="page-link">Siguiente</a>
          </li>
        </ul>
      </nav>
    </div>


<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Success</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¡Estado del libro actualizado exitosamente!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para el mensaje de no encontrados -->
<div class="modal fade" id="noBooksFoundModal" tabindex="-1" aria-labelledby="noBooksFoundModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noBooksFoundModalLabel">No se encontraron libros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{mensaje}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
