<navbar></navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="background-shadow">
        <form>
          <h2  class="h2-centered">Regístrate como Bibliotecario</h2>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="nombres" class="form-label">Nombres:</label>
              <input type="text" class="form-control" id="nombres" placeholder="Nombres">
            </div>
            <div class="col-md-6">
              <label for="apellidos" class="form-label">Apellidos:</label>
              <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="email" class="form-label">Correo Electrónico:</label>
              <input type="email" class="form-control" id="email" placeholder="e-mail">
            </div>
            <div class="col-md-6">
              <label for="celular" class="form-label">Celular:</label>
              <input type="text" class="form-control" id="celular" placeholder="Celular">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="direccion" class="form-label">Dirección:</label>
              <input type="text" class="form-control" id="direccion" placeholder="Dirección">
            </div>
            <div class="col-md-6">
              <label for="username" class="form-label">Username:</label>
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" class="form-control" id="password" placeholder="Contraseña">
            </div>
            <div class="col-md-6">
              <label for="confirmPassword" class="form-label">Confirma la contraseña:</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirma la contraseña">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary">Crear una cuenta</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-secondary">Acceder con Google</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
